# Latex build files
**/*.nav
**/*.snm
**/*.vrb
**/*.toc
**/*.aux
**/*.log
**/*.out
**/*.bcf
**/*.xml
**/*.fdb_latexmk
**/*.fls
**/*.synctex.gz
**/*synctex(busy)
**/*.blg
**/*.bbl
**/*.DS_Store
docs/

# python
**.venv
**/__pycache__
**/indent.log

# c
clibs/build/
**/*.so

# vscode
.vscode/

# report
figures/

# Latex-Workshop
./build/