# Latex build files
**/*.nav
**/*.snm
**/*.vrb
**/*.toc
**/*.aux
**/*.log
**/*.out
**/*.bcf
**/*.xml
**/*.fdb_latexmk
**/*.fls
**/*.synctex.gz
**/*synctex(busy)
**/*.blg
**/*.bbl
**/*.DS_Store
docs/

# python virtual environment
**.venv

# python modules
**/__pycache__/

# vscode
.vscode/

# report
figures/

# Latex-Workshop
./build/

# ignore FEM mesh files & VTK output files (... but not array data *.npy files)
data/*/*.json
data/*/*.vtk

# ignore python profiling files
**/*.prof

# ignore log folder
logs/

# manim
**/*.mp4
**/partial_movie_file_list.txt